<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <img src="../../styles/images/angular_small.png"/>
          <strong>Angular 2.0 - Northwind</strong>
        </div>
        <div class="panel-body">
          <nw-table (customerSelected)="onCustomerSelected($event)"></nw-table>
          
          <!-- testing event handlers -->
          <!--<button type="button" (click)="sayHello()" class="btn btn-success">OK</button>-->
          
          <!-- testing two-way data-binding -->
          <!--<input type="text" [(ngModel)]="someValue"/>
          <label>{{someValue}}</label>-->
          
          <div *ngIf="selectedCustomer" class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{{selectedCustomer.Picture}}" alt="Picture">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{selectedCustomer.CompanyName}}</h4>
              <div>{{selectedCustomer.ContactName}}</div>
              <div>{{selectedCustomer.Address}}</div>
              <div>{{selectedCustomer.City}}</div>
              <div>{{selectedCustomer.Phone}}</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          {{appName}}
        </div>
      </div>
    </div>
  </div>
</div>