<!DOCTYPE html>
<html lang="">
<head>
  <title><%= webpackConfig.metadata.title %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= webpackConfig.metadata.title %>">
  <meta name="msapplication-tap-highlight" content="no" />

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">

</head>

<body>

  <logon-demo>
    <div class="loading-spinner">
                    <div class="loading-text">Loading...</div>
                    <img src="assets/img/loader.gif"/>
               </div>
  </logon-demo>

  <% if (webpackConfig.metadata.isDevServer) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

</body>
</html>
