<div class="customers-table container-fluid">
    <div class="row">
        <div class="col col-lg-10 col-md-8">
            <customers [list]="customersList" (rowSelected)="onRowSelected($event)"></customers>
        </div>
        <div class="col col-lg-2 col-md-2">
            <info [data]="customerData"></info>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-2">
            <div id="get-customers" class="btn btn-primary" (click)="onGetCustomersClicked($event)">Get Customers</div>
        </div>
    </div>
</div>